.advantages__wrapper {
  text-transform: uppercase;
  max-width: 100%;
}

.advantages__head {
  font-size: 18px;
  line-height: 26px;
  display: block;
  padding: 31px 10px 30px;
  margin: 0;
}

.advantages__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  display: block;
  padding-bottom: 40px;
  margin: 0;
}

.advantages__list {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  list-style: none;
  margin: 0;
}

.advantages__item {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: none;
  margin: 0 -20px;
}

.advantages__item:nth-child(1)::before {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-left: 50vw solid transparent;
  border-right: 50vw solid transparent;
  border-top: 15px solid @white;
}

.advantages__container--solid {
  background-color: @blue;
  color: @white;
}

.advantages__title {
  font-size: 18px;
  line-height: 26px;
  padding-top: 25px;
  padding-bottom: 30px;
  margin: 0;
}

.advantages__container--solid .advantages__title {
  padding-top: 35px;
}

.advantages__description {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  padding: 24px 35px;
  margin: 0;
}

.advantages__image {
  width: 100%;
  margin: 0 auto;
}

.advantages__image--medium {
  display: none;
}

@media (min-width: @tablet-width) {
  .advantages__head {
    margin: 42px 124px;
    padding: 0;
    font-size: 21px;
    line-height: 26px;
  }

  .advantages__title {
    padding: 35px 35px;
  }

  .advantages__list {
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 -20px;
  }

  .advantages__item {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    flex: 1 1 100%;
  }

  .advantages__item--inner {
    display: block;
    flex: 1 1 33.33%;
    background: #eeeeee;
  }

  .advantages__container {
    flex: 0 1 33.33%;
  }

  .advantages__container--reverse {
    order: 2;
  }

  .advantages__image {
    flex: 0 1 66.66%;
    width: 66.66%;
  }

  .advantages__image--small {
    display: none;
  }

  .advantages__image--medium {
    display: block;
  }

  .advantages__item:nth-child(1)::before {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .advantages__head {
    padding: 0 230px;
  }

  .advantages__title {
    font-size: 21px;
  }
}
