.copyright {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: @black;
  margin: 45px 0;
}

.copyright__logo {
  vertical-align: middle;
  margin-left: 10px;
}

.copyright__link:hover {
  .copyright__logo {
    fill: @blue;
  }
}

.copyright__link:active {
  .copyright__logo {
    fill: @black;
    opacity: 30%;
  }
}
