.features {
  background-color: @white;
  color: @black;
  list-style: none;
  padding: 0;

  .features__item--apartment {
    padding-top: 25px;
  }

  .features__title {
    font-size: 18px;
    font-weight: 700;
    text-align: left;
    padding-top: 15px;
    padding-left: 70px;
    padding-bottom: 15px;
    margin: 0;
  }

  .features__description {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    text-align: left;
    padding: 15px 20px 15px 70px;
    margin: 0;
  }

  .features__item--food {
    padding-bottom: 15px;
  }
}

@media (min-width: @tablet-width) {
  .features {
    display: flex;
    flex-direction: row;
    flex: 0 1 100%;
    padding: 20px;

    .features__item {
      padding: 20px;
      text-align: center;
    }
  }
}
