.features {
  background-color: @white;
  color: @black;
  list-style: none;
  padding: 0;
}

.features__br {
  display: none;
}

.features__title {
  font-size: 18px;
  font-weight: 700;
  text-align: left;
  padding-top: 11px;
  padding-left: 70px;
  padding-bottom: 15px;
  margin: 0;
}

.features__item--apartment {
  padding-top: 25px;
  background: url("/img/icon-house.svg") no-repeat;
  background-position: 22px 19%;
  background-size: 36px 38px;
}

.features__item--souvenirs {
  background: url("/img/icon-gift.svg") no-repeat;
  background-position: 22px 0;
  background-size: 36px 38px;
}

.features__item--food {
  padding-bottom: 15px;
  background: url("/img/icon-burger.svg") no-repeat;
  background-position: 22px 4%;
  background-size: 36px 38px;
}

.features__description {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-align: left;
  padding: 7px 20px 15px 70px;
  margin: 0;
}

@media (min-width: @tablet-width) {
  .features {
    display: flex;
    flex-direction: row;
    flex: 0 1 100%;
  }

  .features__item {
    padding: 20px;
    text-align: center;
    flex: 1 1 33.33%;
  }

  .features__item--apartment {
    background-position: 50% 25%;
    background-size: 75px 72px;
  }

  .features__item--souvenirs {
    order: 3;
    background-position: 50% 25%;
    background-size: 75px 72px;
  }

  .features__item--food {
    background-position: 50% 25%;
    background-size: 75px 72px;
  }

  .features__title {
    font-size: 21px;
    line-height: 21px;
    padding-top: 138px;
    margin: 0;
    text-align: center;
    padding-left: 0;
  }

  .features__description {
    text-align: center;
    padding: 11px 13px 16px;
  }

  .features__item--food .features__description {
    padding: 11px 32px 16px;
  }

  .features__item--souvenirs .features__description {
    padding: 11px 10px 16px;
  }
}

@media (min-width: @desktop-width) {
  .features__br {
    display: inline;
  }

  .features__title {
    font-size: 21px;
  }

  .features__description {
    padding: 11px 30px 16px;
  }

  .features__item--apartment {
    background-position: 50% 27%;
  }

  .features__item--food {
    background-position: 50% 28%;
  }

  .features__item--souvenirs {
    background-position: 50% 26%;
  }
}
