.features {
  background-color: @white;
  color: @black;

  .features__item--apartment {
    padding-top: 25px;
  }

  .features__title {
    font-size: 18px;
    font-weight: 700;
    text-align: left;
    padding-top: 15px;
    padding-left: 70px;
    padding-bottom: 15px;
  }

  .features__description {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    text-align: left;
    padding-top: 15px;
    padding-left: 70px;
    padding-bottom: 15px;
  }

  .features__item--food {
    padding-bottom: 15px;
  }
}
