.form-mark {
  margin-top: 20px;
}

.form-mark__list {
  list-style: none;
}

.form-mark__item {
  margin-bottom: 20px;
}

.form-mark__label {
  display: inline-block;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  padding-left: 17px;
}

.form-mark__selector {
  display: inline-block;
  height: 48px;
  width: 48px;
  vertical-align: middle;
  text-align: left;
}
