.main-picture {
  display: block;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: -30px -20px 0;
  height: 390px;
  background-image: url("/img/back-mobile.jpg");
  overflow: hidden;

  @media (min-resolution: 2dppx) {
    background-image: url("/img/back-mobile@2x.jpg");
  }
}

.main-picture--inner {
  height: 155px;
  background-image: url("/img/catalog-mobile.jpg");
  padding-top: 50px;
  background-position: 0 -57px;

  @media (min-resolution: 2dppx) {
    background-image: url("/img/catalog-mobile@2x.jpg");
  }
}

.main-picture::after {
  content: "";
  position: absolute;
  background-image: url("/img/intro-triangle.svg");
  background-repeat: no-repeat;
  background-position: bottom center;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 57px;
}

.main-picture__image {
  width: 282px;
  display: block;
  margin: 0 auto;
  padding-top: 89px;
}

.main-picture__image-inner {
  padding: 0 26px;
}

.main-picture__image-inner .main-picture__img {
  margin-top: 0;
}

@media (min-width: @tablet-width) {
  .main-picture {
    padding: 0;
    margin-top: 0;
    height: 518px;
    background-image: url("/img/back-tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("/img/back-tablet@2x.jpg");
    }
  }

  .main-picture--inner {
    height: 290px;
    background-image: url("/img/catalog-tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("/img/catalog-tablet@2x.jpg");
    }
  }

  .main-picture__image {
    padding: 0;
    width: auto;
  }

  .main-picture__img {
    padding: 0;
    margin-top: 78px;
    width: 460px;
  }

  .main-picture__image-inner .main-picture__img {
    margin-top: 94px;
  }
}

@media (min-width: @desktop-width) {
  .main-picture {
    padding: 0;
    height: 518px;
    background-image: url("/img/back-desktop.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("/img/back-desktop@2x.jpg");
    }
  }

  .main-picture--inner {
    height: 300px;
    padding: 0;
    background-image: url("/img/catalog-mobile.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("/img/catalog-desktop@2x.jpg");
    }
  }

  .main-picture__image {
    padding: 0;
    width: auto;
    margin: 0;
  }

  .main-picture__img {
    padding: 0;
    margin-top: 76px;
  }

  .main-picture__image-inner .main-picture__img {
    margin-top: 100px;
  }
}
