.page-header {
  background-color: @white;
}

@media (min-width: @tablet-width) {
  .page-header__logo {
    position: absolute;
    transform: translateX(-50%);
    resize: vertical;
    overflow: auto;
    z-index: 10;
  }
}

@media (min-width: @desktop-width) {
  .page-header__logo {
    background-image: url("../img/logo-background.png");
    background-repeat: no-repeat;
    background-position: top center;
    padding: 0 40px 10px;
    background-size: contain;
  }
}
