.search {
  text-transform: uppercase;

  &__head {
    font-size: 21px;
    font-weight: 700;
    padding-top: 35px;
    padding-bottom: 20px;
  }

  &__text {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    padding-top: 15px;
    padding-bottom: 35px;
  }
}
