.search {
  text-transform: uppercase;

  .search__head {
    font-size: 21px;
    font-weight: 700;
    padding-top: 35px;
    padding-bottom: 20px;
    margin: 0;
  }

  .search__text {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    padding-bottom: 25px;
    margin: 0;
  }

  .search__button {
    line-height: 26px;
  }
}
