@white: #ffffff;
@black: #000000;
@blue: #81b3d2;
@grey: #f2f2f2;
@brown: #766357;
@lightgrey: #eeeeee;
@lightblack: #333333;
@lightblue: #81b3d2;
@bordercolorlight: #e5e5e5;
@bordercolor: #dbdbdb;
@deepblue: #669ec0;
@deepblueactive: #5496db;
@deepgrey: #d5d5d5;
@verydeepgrey: #e6e6e6;
@anothergrey: #d6d6d6;
@greyshadow: rgba(0, 1, 1, 0.2);
@playergrey: #5c6870;
@activeplayermob: rgba(51, 51, 51, 0.3);
@logoactive: rgba(0, 0, 0, 0.3);
@playerhovertablet: rgba(255, 2555, 255, 0.6);
@playeractivetablet: rgba(255, 2555, 255, 0.3);
@tablet-width: 768px;
@desktop-width: 1200px;
@mobile-width-only: 767px;
