.video {
  clear: both;
  text-transform: uppercase;
  padding-top: 60px;

  .video__head {
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    padding-bottom: 20px;
  }

  .video__text {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    padding-top: 15px;
    padding-bottom: 35px;
    margin: 0;
  }
}
